{% extends 'layout.html'%}

{% block icon %}

<link rel="icon" href="{{url_for('static', filename='./img/book.png')}}" />
{% endblock %}

<!--CSS INCLUDE-->
{% block cssFile %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='./css/style.css')}}"
/>
{% endblock %}


{% block title %} Buscar {% endblock %}


{% block body%}
<div class="search">
    <h2>Busca el libro que mas gustes</h2>
    <br>
    <br>
    <div class="col-auto">
      <label class="visually-hidden" for="autoSizingInputGroup">Busqueda</label>
      <img
        class="img-fluid mx-auto d-block"
        src="{{url_for('static', filename='./img/buscar.png')}}"
        alt="Buscar Libro"
        width="50px"
        height="50px"
      />
      <br>
      <br>
      
  
      <form action="/buscar" method="post">
        <div class="input-group">
          <div class="input-group-text"><i class="fad fa-search"></i></div>
          <input
            type="text"
            class="form-control me-2"
            id="autoSizingInputGroup"
            placeholder="Busqueda"
            name="buscar"
          />
          <div class="col-auto">
            <button type="submit" class="btn btn-primary">Buscar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock%}