{% extends 'layout.html'%}

{% block icon %}
<link rel="icon" href="{{url_for('static', filename='./img/book.png')}}" />
{% endblock %}

<!--CSS INCLUDE-->
{% block cssFile %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='./css/index.css')}}"
/>
{% endblock %}


{% block title %} Inicio {% endblock %}


{% block body%}
<div class="container-landero">
  <h1 class="lionel">Bienvenid@ {{session.nombre}}</h1>
</div>

<section class="inicio">

    <img
      src="{{url_for('static', filename='./img/book.png')}}"
      alt="Logo de Libro"
    />
    <p>Puedes buscar tus libros favoritos y dejar tu reseña</p>
  </section>
{% endblock%}